$primary: #0A3A63; // tuq kuk ochroq
$primary2: #114977; // tuq kuk
$primary3: #0B416C; // 
$accent: #04A1D6; // moviy
$accent2: #48E3FF;
$bg_light: #F4F4F4;

$text_main: #333;
$text-muted: rgba(255,255,255,.5);
$black-muted: rgba(0,0,0,.5);